#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
body{
  background-color: #BFCDD9;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-radius: 10px 20px 30px;
}
.capa {
  width: 1400px;
  height: 380px;
}
h1,
h2.titulo {
  text-align: center;
  font-family: "Lobster Two", cursive;
}
p {
  text-align: center;
  font-family: "Architects Daughter", cursive;
}
div.livro {
  width: 25rem;
  display: inline-block;
}
.menu {
  text-align: center;
  color: black;
  background-color: rgb(71, 103, 207);
  justify-content: center;
  font-size: 2em;
  border-radius: 10px 20px 30px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 5px 5px 15px rgb(71, 103, 207);
  color: black;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 15px rgb(71, 103, 207);
  padding: 1rem;
}
main.comentario {
  background: rgb(162, 178, 209);
  width: 25%;
  border-radius: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 15px 0px 10px 6px;
  border-radius: 10%;
  text-align: center;
}

img {
  width: 300px;
  height: 250px;
}

.imageSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  border-radius: 10px 20px 30px;
}

.title {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.historia {
  text-align: center;
  font-family: "Architects Daughter", cursive;
  background-color: rgb(162, 178, 209);
  box-shadow: 5px 5px 15px rgb(8, 29, 99);
  border-radius: 10px 20px 30px;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.escritorio {
  width: 95%;
  height: 30%;
  justify-content: center;
  box-shadow: 5px 5px 15px rgb(71, 103, 207);
  padding: 1rem;
}

.tabela {
  
  background: #ffc;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
}
.descricao {
  text-align: justify;
}
th {
  text-align: center;
}
.avaliacao{
  text-align: center;
  font-family: "Architects Daughter", cursive;
  background-color: rgb(162, 178, 209);
  box-shadow: 5px 5px 15px rgb(8, 29, 99);
  border-radius: 10px 20px 30px;
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lista{
  text-align: justify;
  margin: auto;
}
.premios
{
  text-align: center;
  font-family: "Architects Daughter", cursive;
  background-color: rgb(162, 178, 209);
  box-shadow: 5px 5px 15px rgb(8, 29, 99);
  border-radius: 10px 20px 30px;
}
.formulario{
  text-align: justify;
  margin: 1em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  width: 35%;

}
.titulo{
  font-family: negri;
}
.botao{
  text-align: center;
  width: 350px;
  margin-left:-50px;
  margin-top:-150px;
  padding: 5px 15px;
  font-size: 1rem;
}